footer {
    padding: 90px 50px;
    background-color: #ffffff;
}

.content-end {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-end h1 {
    font-family: "Poppins", serif;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 40px;
    margin-left: 90px;
}

.nav {
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav h2 {
    font-family: "Poppins", serif;
    font-size: 1.6rem;
    font-weight: 300;
}

.nav ul {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: #260041;
    margin-left: 30px;
    font-family: "Poppins", serif;
    font-size: 1.05rem;
}

.social {
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social h2 {
    font-family: "Poppins", serif;
    font-size: 1.6rem;
    font-weight: 300;
}

.social ul {
    list-style: none;
}

.social ul li a {
    text-decoration: none;
    color: #260041;
    margin-left: 30px;
    font-family: "Poppins", serif;
    font-size: 1.05rem;
}

.rights p {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}