#contacto {
    width: 100vw;
    height: 110vh;
    background-color: #000000;
}

#contacto .tittle h1 {
    display: flex;
    justify-content: center;
    font-family: "Poppins", serif;
    font-size: 2rem;
    color: #ffffff;
    padding: 123px 0px 0px 0px;
}

#contacto .card-contact {
    width: 30vw;
    height: 73vh;
    display: flex;
    flex-direction: column;
    padding: 60px;
    margin: 3vh 0px 0px 35vw;
    background-color: #ffffff;
    border-radius: 20px;
}

#contacto .form-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contacto .form-div label {
    font-family: "Poppins", serif;
    font-size: 1rem;
    margin-top: 10px;
}

#contacto .form-div input {
    width: 353px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 20px;
    padding-left: 10px;
}

#contacto .form-div input::placeholder {
    font-size: 0.8rem;
}

#contacto .form-div textarea {
    width: 358px;
    border: 1.5px solid #000000;
    border-radius: 8px;
    padding: 7px;
    height: 120px;
}

#contacto .button-form {
    display: flex;
    justify-content: end;
    padding: 20px 0px 0px 30px;
}

#contacto .button-form button {
    width: 110px;
    height: 40px;
    background-color: #4B0082;
    color: #ffffff;
    font-family: "Poppins", serif;
    transition: 0.3s;
}

#contacto .button-form button:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 500px) {

    #contacto .card-contact {
        width: 85vw;
        height: 68vh;
        margin: 0;
        margin: 5vh 0px 0px 9vw;
        padding: 0;
        padding: 30px;
    }

    #contacto .form-div input {
        width: 300px;
        height: 40px;
    }

    #contacto .form-div textarea {
        width: 300px;
    }

    #contacto .button-form button:hover {
        transform: scale(none);
    }
}