main {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}

main .left h1 {
    width: 607px;
    font-family: "Poppins", serif;
    font-size: 2.6rem;
    font-weight: 400;
    padding: 220px 0px 0px 64px;
    color: #ffffff;
}

main .right {
    padding: 220px 64px 0px 0px;
}

main .right img {
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 1024px) {

    main {
        height: 85vh;
        flex-direction: column-reverse;
    }

    main .right {
        padding: 0;
        padding: 160px 0px 0px 20px;
    }

    main .right img {
        width: 400px;
        height: 400px;
    }

    main .left h1 {
        width: 800px;
        padding: 0;
        padding: 0px 0px 190px 50px;
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 860px) {

    main .right {
        padding: 0;
        padding: 130px 0px 0px 0px;
    }

    main .right img {
        width: 300px;
        height: 300px;
    }

    main .left h1 {
        width: 700px;
        padding: 0;
        padding: 0px 0px 250px 40px;
        font-size: 3rem;
    }
}

@media screen and (max-width: 768px) {

    main .right {
        padding: 0;
        padding: 90px 0px 0px 0px;
    } 

    main .left h1 {
        padding: 0;
        padding: 0px 0px 160px 85px;
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 480px) {

    main .right {
        padding: 0;
        padding: 180px 0px 0px 0px;
    }

    main .right img {
        width: 200px;
        height: 200px;
    }

    main .left h1 {
        width: 400px;
        padding: 0;
        padding: 0px 0px 90px 50px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 380px) {

    main .right {
        padding: 0;
        padding: 80px 0px 0px 0px;
    }

    main .right img {
        width: 180px;
        height: 180px;
    }

    main .left h1 {
        padding: 0;
        padding: 0px 0px 30px 40px;
        width: 370px;
        font-size: 1.4rem;
    }
}