#inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#inicio .left h1 {
    width: 697px;
    height: 162px;
    font-family: "Poppins", serif;
    font-size: 3rem;
    color: #ffffff;
    margin-top: 189px;
    margin-left: 91px;
}

#inicio .right img {
    width: 300px;
    height: 300px;
    margin-right: 87px;
    margin-top: 199px;
}

@media screen and (max-width: 1024px) {

    #inicio {
        flex-direction: column;
    }

    #inicio .right {
        margin: 0;
        margin-left: 90px;
    }

    #inicio .right img {
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 860px) {

    #inicio .left h1 {
        width: 500px;
        font-size: 2.2rem;
        margin: 0;
        margin-top: 40%;
        margin-left: 50px;
    }

    #inicio .right img {
        width: 300px;
        height: 300px;
        margin: 0;
        margin-top: 40%;
        margin-left: -10%;
    }
}

@media screen and (max-width: 500px) {

    #inicio .left h1 {
        font-size: 1.4rem;
        width: 300px;
        margin: 0;
        margin-top: 50%;
    }

    #inicio .right img {
        width: 200px;
        height: 200px;
        margin: 0;
        margin-top: 20%;
        margin-left: -20%;
    }
}