#projects {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 103px 0px;
}

.tittle h3 {
    display: flex;
    justify-content: center;
    font-family: "Poppins", serif;
    font-size: 2.25rem;
    font-weight: 400;
    color: #ffffff;
}

.project {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-around;
}

.project img {
    width: 500px;
    height: 250px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border: none;
    border-radius: 20px;
    background-color: #260041;
}

.card h1 {
    text-align: center;
    font-family: "Montserrat", serif;
    font-size: 1.25rem;
    padding: 32px 0px 0px 0px;
    color: #ffffff;
}

.card p {
    width: 300px;
    font-family: "Montserrat", serif;
    font-size: 1rem;
    margin: 38px 30px;
    color: #ffffff;
}

.card button {
    margin-top: 8px;
    margin-left: 80px;
    width: 187px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-family: "Montserrat", serif;
    font-weight: 500;
    color: #4B0082;
    transition: 0.3s;
}

.card button:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 500px) {

    .project {
        flex-direction: column;
    }

    .project img {
        width: 250px;
        height: 125px;
    }

    .card {
        padding: 0;
        padding: 20px 0px;
        width: 70%;
        margin-top: 40px;
    }

    .card p {
        width: 200px;
        margin: 0;
        margin: 38px 45px;
    }

    .card button {
        margin: 0;
        margin-top: 10px;
        margin-left: 50px;
    }

    .card button:hover {
        transform: none;
    }
}