article {
    width: 100vw;
    padding: 133px;
    border: 2px solid red;
}

.tittle h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", serif;
    font-size: 2.25rem;
    font-weight: 400;
    color: #ffffff;
}

article .conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 104px 0px 0px 0px;
}

article .conteudo p {
    width: 548px;
    font-family: "Montserrat", serif;
    font-size: 1.8rem;
    color: #ffffff;
}

article .conteudo img {
    width: 350px;
    height: 350px;
}

@media screen and (max-width: 1024px) {

    article {
        padding: 0;
        padding: 103px 33px;
    }

    article .conteudo p {
        width: 350px;
        font-size: 1.3rem;
    }

    article .conteudo img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 500px) {

    article {
        width: 100vw;
        padding: 0;
        padding: 104px 33px 0px;
    }

    article .tittle-1 h1 {
        font-size: 1.6rem;
    }

    article .conteudo {
        flex-direction: column;
        padding: 0;
        padding: 104px;
    }

    article .conteudo p {
        width: 250px;
        font-size: 1.2rem;
        padding: 0px 0px 0px 25px;
    }

    article .conteudo img {
        width: 250px;
        height: 250px;
        margin: 100px 20px;
    }
}