#sobre {
    padding-bottom: 140px;
}

#sobre .middle {
    display: flex;
    justify-content: center;
    text-align: center;
}

#sobre .middle h1 {
    font-family: "Poppins", serif;
    color: #ffffff;
    margin-top: 203px;
}

#sobre .middle .color {
    color: #4B0082;
    font-weight: 300;
}

#sobre .conteudo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#sobre .conteudo .left h1 {
    font-family: "Montserrat", serif;
    font-size: 1.5rem;
    color: #ffffff;
    width: 568px;
    height: 174px;
    margin-top: 138px;
}

#sobre .conteudo .right img {
    width: 360px;
    height: 360px;
    margin-top: 88px;
}

@media screen and (max-width: 1024px) {

    #sobre .conteudo {
        flex-direction: column;
    }

    #sobre .middle h1 {
        margin: 0;
        margin-top: 270px;
        margin-left: 30px;
        font-size: 3rem;
    }

    #sobre .conteudo .left h1 {
        font-size: 2rem;
        width: 800px;
        margin: 0;
        margin-top: 200px;
        margin-left: 110px;
    }

    #sobre .conteudo .right img {
        margin: 0;
        margin-top: 200px;
        margin-left: 20px;
        width: 600px;
        height: 600px;
    }
}

@media screen and (max-width: 860px) {

    #sobre .conteudo .left h1 {
        width: 500px;
        font-size: 1.8rem;
        margin: 0;
        margin-top: 230px;
        margin-left: 60px;
    }

    #sobre .conteudo .right img {
        width: 500px;
        height: 500px;
        margin: 0;
        margin-top: 230px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 500px) {
    
    #sobre .middle h1 {
        margin: 0;
        margin-top: 250px;
        margin-left: 20px;
        font-size: 1.7rem;
    }

    #sobre .conteudo .left h1 {
        width: 280px;
        font-size: 1.3rem;
        margin: 0;
        margin-top: 170px;
        margin-left: 75px;
    }

    #sobre .conteudo .right img {
        width: 300px;
        height: 300px;
        margin: 0;
        margin-top: 170px;
        margin-left: 30px;
    }
}